@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root{
    --branco: #FFFFFF;
    --cor-de-fundo: #5df09a;
    --cor-rosa:#5df09a;
    --verde: #5df09a;
    --verde-claro: #5df09a;
    --cinza: #5df09a;
    --botao-inativo: #5df09a;
    --botao-inativo: #5df09a;
    --botao-ativo: #5df09a;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', 'Sans-Serif';
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: var(--cinza);
}
